.navbar{
    position: fixed;
    float: left;
    width: 17%;
    height: 500px;
    background-color: #f1f1f1;
    opacity: 0.8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom-right-radius: 10px;
}

.mlogo{
    width: 100%;
    height: 120px;
    text-align: center;
    
}
.logo{
    width: 150px;
    height: 75px;
    padding-top: 22.5px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}
li .menu{
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
li .menu:hover{
    background-color: #555;
    color: white;
}

form{
    padding-top: 160px;
    width: 80%;
    display: block;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    padding-left: 10px;
    color: #000;
 }
 input[type=text]{
    border: 2px solid #555;
    border-width: 0 0 3px;
    background-color: transparent;
    width: 100%;
 }
 input[type=text]:focus{
    outline: 0;
    border-color: #555;
    color: #555;
 }
::placeholder{
    font-weight: 700;
}

.social_top{
    position: fixed;
    float: right;
    right: 0px;
    width: 83%;
    height: 50px;
    background-color: #f1f1f1;
    opacity: 0.9;
    text-align: end;
    z-index: 9999;
}
.menu_social{
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
   
}
.social{
    height: 50px;
    background-color: #f1f1f1;
    flex-wrap: nowrap; 
}
.soc{
    width: 30px;
    height: 30px;
    padding-top: 10px;
    padding-right: 10px;
}
.yt{
    height: 20px;
    padding-bottom: 5px;
}

@media all and (max-width:1024px) {
    .navbar{
        position: static;
        display: block;
        float: left;
        width: 100%;
        height: 400px;
        background-color: #f1f1f1;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        border-radius: 0px;
    }
    
    .mlogo{
        width: 100%;
        height: 120px;
        text-align: center;
        
    }
    .logo{
        width: 180px;
        height: 90px;
        padding-top: 22.5px;
    }
    
    ul{
        list-style-type: none;
        margin: 0;
        padding-top: 10px;
        width: 100%;
        background-color: #f1f1f1;
    }
    li .menu{
        display: block;
        color: #000;
        padding: 8px 0 8px 0px;
        text-decoration: none;
    }


    .social_top{
        position: static;
        float: left;
        width: 100%;
        height: 40px;
        background-color: #f1f1f1;
        text-align: center; 
        padding-bottom: 0px; 
        
    }
    .menu_social{
        width: 100%;
        height: 50px;
        background-color: #f1f1f1;
    }
    .social{
        height: 50px;
        background-color: #f1f1f1;
        flex-wrap: nowrap; 
        
    }
    .soc{
        width: 30px;
        height: 30px;
        padding-top: 10px;
        padding-right: 10px;
    }
    .yt{
        height: 20px;
        padding-bottom: 5px;
    }

    form{
        padding-left: 30%;
        padding-top: 30px;
        width: 40%;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 600;
        color: #000;
     }
     input[type=text] {
        border: 2px solid #000;
        border-width: 0 0 3px;
        background-color: transparent;
        width: 100%;
        text-align: center;
     }
     input[type=text]:focus {
        outline: 0;
        border-color: #000;
        color: #000;
     }
     input[type=button]{
        background-color: #555;
        color: #f1f1f1;
        font-weight: 600;
        height: 30px;
        width: max-content;
        margin-bottom: 10px;
        font-size: 12px;
    }
}
/*
@media all and (min-height:320px) and (max-height:414px) {
    .navbar{
        float: left;
        width: 17%;
        height: 430px;
        background-color: #f1f1f1;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
    }
    
    .mlogo{
        width: 100%;
        height: 75px;
        text-align: center;
        
    }
    .logo{
        width: 80%;
        height: 50px;
        padding-top: 22.5px;
        text-align: center;
    }
    
    ul{
        list-style-type: none;
        margin: 0;
        padding-top: 10px;
        background-color: #f1f1f1;
        font-size: 12px;
    }
    li .menu{
        display: block;
        color: #000;
        padding: 8px 0 8px 16px;
        text-decoration: none;
    }
    li .menu:hover{
        background-color: #555;
        color: white;
    }
    
    form{
        padding-top: 40px;
        width: 80%;
        display: block;
        text-align: left;
        font-size: 12px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 600;
        padding-left: 10px;
        color: #000;
     }
     input[type=text] {
        border: 2px solid #000;
        border-width: 0 0 3px;
        background-color: transparent;
        width: 100%;
     }
     input[type=text]:focus {
        outline: 0;
        border-color: #000;
        color: #000;
     }
    
    
    .social_top{
        float: left;
        width: 83%;
        height: 20px;
        background-color: #f1f1f1;
        text-align: end;
    }
    .menu_social{
        width: 100%;
        height: 40px;
        background-color: #f1f1f1;
       
    }
    .social{
        height: 40px;
        background-color: #f1f1f1;
        flex-wrap: nowrap; 
    }
    .soc{
        width: 20px;
        height: 20px;
        padding-top: 10px;
        padding-right: 10px;
    }
    .yt{
        height: 15px;
        padding-bottom: 3px;
    }
}*/