body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../img/home-img/503.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.main {
    margin-left: 35%;
    width: 40%;
    height: 800px;
    margin-top: 100px;
    
}

.main_content {
    width: 100%;
    height: 750px;
    background-color: #f1f1f1;
    opacity: 0.9;
    border-radius: 4px;
}

.content {
    width: 100%;
    height: 750px;
    
}

.back_content {
    width: 100%;
    height: 750px;
    
}

#contact_from {
    width: 100%;
    height: 750px;
    min-height: 750px;
    padding: 37.5px;
    margin: 50px 0;
    
}

h1 {
    color: #555;
    font-size: 32px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

.underline {
    border-bottom: solid 2px #555;
    margin: -0.512em auto;
    width: 50%;
}

.name {
    padding: 5%;
    float: left;
    width: 40%;
  
}

.email {
    float: right;
    width: 40%;
    padding: 5%;
  
    
}

.telephone {
    width: 90%;
    padding: 5%;
    
}

#name_input[type='text'],
[type='email'],
#telephone_input,
select,
textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #555;
    color: #555;
    font-size: 1.000em;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s;

}

#name_input[type='text']:focus,
[type='email']:focus,
#telephone_input,
textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;  
}

.subject {
    width: 90%;
    padding: 0 5% 0% 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.message {
    float: none;
    width: 100%;
    padding: 0% 5% 0% 5%;
}

textarea {
    height: 150px;
    resize: none;
    width: 90%;
    padding: 0% 5% 0% 5%;
}

select {
    outline: none;
}
option{
    background-color: #555;
    color: #fff;  
}

#form_button {
    background-color: rgba(255, 255, 255, 1);
    border: solid 2px #555;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 12px;
    font-weight: 800;
    outline: none;
    padding: 20px 45px;
    text-transform: uppercase;
    transition: all 0.3s;
}

#form_button:hover {
    background: #555;
    color: #fff;
}

.submit {
    padding-left: 5%;
    padding-bottom: 5%;
}

@media all and (max-width:1600px){
    .container {
        position: absolute;
        width: 100%;
        min-height: 100%;
        height: max-content;
        background-image: url(../img/home-img/503.jpg);
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        z-index: -1;
    }
    .main {
        margin-left: 35%;
        width: 50%;
        height: 800px;
        margin-top: 100px;
    }
    
    .main_content {
        width: 80%;
        height: 750px;
        min-height: 750px;
        background-color: #f1f1f1;
        opacity: 0.8;
        border-radius: 4px;
    }
    
    .content {
        width: 100%;
        height: 750px;
        min-height: 750px;
    }
    
    .back_content {
        width: 100%;
        height: 700px;
        height: 750px;
        min-height: 750px;
    }
    
    #contact_from {
        width: 100%;
        height: 750px;
        min-height: 750px;
        padding: 37.5px;
        margin: 50px 0;
    }
}
@media all and (min-width:260px) and (max-width:1024px) {
    .main {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        height: 1000px;
        margin-top: 500px;
    }
    .main_content {
        width: 100%;
        height: 650px;
        min-height: 650px;
        background-color: #f1f1f1;
        opacity: 0.8;
        border-radius: 4px;
    }
}
@media all and (min-width:900px) and (max-width:1024px){
    .main {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        height: 1000px;
        margin-top: 500px;
    }
    .main_content {
        width: 100%;
        height: 780px;
        min-height: 780px;
        background-color: #f1f1f1;
        opacity: 0.8;
        border-radius: 4px;
    }
}
@media all and (max-width:414px){
    h1{
        font-size: 20px;
    }
}
@media all and (max-width:310px){
    h1{
        font-size: 16px;
    }
}