body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container{
    position: absolute;
    width: auto;
    height: max-content;
    background-image: url(../img/home-img/12856.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    z-index: -1;
    
}

.main{
    float: right;
    width: 83%;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main_content{
    width: 83%;
    height: 80%;
    margin-top: 8%;
    margin-left: 10%;
    
}
.content{
    display: grid;
    width: 100%;
    height: 1750px;
    grid-template-rows: repeat(4,20%);
    grid-template-columns: repeat(3, 30%);
    grid-gap: 6% 2%;
    
}
.info{
    height: auto;
    background-color: rgba(241, 241, 241, 0.8);
    /*
    background-color: #f1f1f1;
    opacity: 0.7;*/
    border: 1px solid #555;
    border-radius: 4px;
    box-shadow:
            0 -10px 50px -5px #333,
            0 -20px 0 -10px #444,
            0 -30px 0 -15px #555;
    padding: 10px;
    padding-bottom: 20px;  
    text-align: center;
    
}

.art{
    width: 100%;
    height: 70%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
h4{
    width: 100%;
    height: 10px;
    font-size: 16px;  
}
.button{
    position: relative;
    float: right;
    width: 100%;
    height: 10%;
    top: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    padding-top: 4%;
    color: #fff;
    background-color: #555;
    overflow: hidden;
    
}
.button:before {
    position: absolute;
    display: block;
    height: 100%;
    width: 40%;
    top: 0;
    left: -45%;
    content: "";
    background-color: rgba(255,255,255,0.5);
    transform: skewX(-45deg) translateX(10px);
    transition: none;
  }
.button:hover{
    background-color: #555;
    color: #ffffff;
}

.button:hover:before{
    transform: skewX(-45deg) translateX(650px);
    transition: all 0.4s ease-in;
}
 .footer{
     width: 100%;
     height: 100px;
     margin-top: 100%;
     margin-left: 0%;
     background-color: rgba(241, 241, 241, 0.8);
 }

@media all and (min-width:848px) and (max-width:1024px) {
    .container{
        position: absolute;
        width: auto;
        height: max-content;
    }
    .main{
        width: 100%;
        height: 90%;
    }
    .main_content{
        width: 83%;
        height: auto;
        margin-left: 8%;
    }
    .content{
        display: grid;
        width: 100%;
        height: max-content;
        grid-template-columns: repeat(3, 32%);
        grid-gap: 6% 2%; 
    }
    .info{
        height: auto;  
        line-height: 0px; 
        padding-bottom: 45px;   
    }
    .art{
        width: 100%;
        height: 70%;
    }
    h4{
        width: 100%;
        height: 10px;
        font-size: 16px;   
    }
    .button{
        width: 100%;
        height: 9%;
        font-size: 14px;
        padding-top: 8%;
    }
    .footer{
        width: 100%;
        height: 100px;
        margin-top: 200%;
        background-color: rgba(241, 241, 241, 0.8);
    }
}

@media all and (min-width:545px) and (max-width:847px) {
    .container{
        position: absolute;
        width: auto;
        height: max-content; 
    }
    .main{
        width: 100%;
        height:2850px;
    }
    .main_content{
        width: 83%;
        height: 2600px;
        margin-left: 7%;
    }
    .content{
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2, 50%);
        grid-gap: 4% 2%;
        
    }
    .info{
        height: auto;  
        padding-bottom: 0px;
    }
    
    .orla{
        height: 340px;
    }
    
    .zawrat{
        height: 350px;  
    }
    
    .art{
        width: 100%;
        height: 65%;
    }

    h4{
        float: left;
        width: 100%;
        height: 16px;
        font-size: 16px; 
        font-weight: 800;  
    }
    .button{
        width: 100%;
        height: 8%;
        font-size: 14px;
        padding-top:5%;
    }
    
}

@media all and (max-width:544px) {
    .main{
        width: 90%;
        
    }
    .main_content{
        margin-left: 3%;
    }
    .content{
        display: inline;
    }
    .info{
        height: 360px;  
        margin-bottom: 40px; 
        text-align: center; 
        line-height: 15px;  
        padding-bottom: 35px;
    }
    .art{
        width: 100%;
        height: 75%;
    }
    h4{
        float: left;
        width: 100%;
        height: 12px;
        font-size: 18px;   
    }
    .button{
        position: relative;
        width: 100%;
        height: 8%;
        font-size: 16px;
    }
    .button:before {
        width: 30px;
      }
}
@media all and (max-width:410px) {
    .main{
        width: 90%;
        margin-right: 1%;
    }
    .main_content{
        margin-left: 1%;
        width: 90%;
    }
    .content{
        display: inline;
    }
    .info{
        height: 280px;  
        margin-bottom: 40px; 
        text-align: center; 
        line-height: 15px;
    }
    .art{
        width: 100%;
        height: 70%;
    }
    h4{
        float: left;
        width: 100%;
        height: 12px;
        font-size: 16px;   
    }
    .button{
        position: relative;
        width: 100%;
        height: 10%;
        padding-top: 5%;
        
    }
    .button:before {
        width: 30px;
      }
}
@media all and (min-height:1366px) {
    .container{
        position: absolute;
        width: auto;
        height: max-content;
        background-image: url(../img/home-img/12856.jpg);
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        z-index: -1;
        
    }
    .main{
        float: right;
        width:100%;
        height: max-content;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .main_content{
        width: 83%;
        height: 100%;
        margin-top: 8%;
        
    }
    .content{
        display: grid;
        width: 100%;
        height: 1750px;
        grid-template-rows: repeat(4,20%);
        grid-template-columns: repeat(3, 33%);
        grid-gap: 5% 2%;
        
    }
    .info{
        height: 100%;
        background-color: rgba(241, 241, 241, 0.8);
        border: 1px solid #555;
        border-radius: 4px;
        box-shadow:
                0 -10px 50px -5px #333,
                0 -20px 0 -10px #444,
                0 -30px 0 -15px #555;
        padding: 10px;
        padding-bottom: 20px;  
        text-align: center;
    }
    .art{
        width: 100%;
        height: 70%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    h4{
        float: left;
        width: 100%;
        height: 6px;
        font-size: 18px;  
    }
    .button{
        position: relative;
        float: right;
        width: 100%;
        height: 8%;
        text-decoration: none;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        padding-top: 4%;
        color: #fff;
        background-color: #555;
        overflow: hidden;
        
    }
    .button:before {
        position: absolute;
        display: block;
        height: 100%;
        width: 40%;
        top: 0;
        left: -45%;
        content: "";
        background-color: rgba(255,255,255,0.5);
        transform: skewX(-45deg) translateX(10px);
        transition: none;
      }
    .button:hover{
        background-color: #555;
        color: #ffffff;
        
    }
}